*{
  margin:0px;
  padding:0px;
}
header{
  display :flex;
  justify-content: space-around;
  padding: 18px;
  background-color: #FFF0F5;
}
.box{
    display:flex; 
    margin-left: 100px;
}
nav {
    display: flex;
    align-items: center;
    gap: 40px;
}
.pic img{
    width: 140px;
    margin:0px 50px 0px 50px;

}
.things{
    display: flex;
    align-items: center;
    gap: 40px;
    

}
header img{
    width: 40px;
    height: 40px; 
}
.amenities{
    float:right; 
    display:flex; 
    align-items: center;
    gap:25px; 
}
.amenities img {
    height:28px; /* Ajustez la taille des icônes */
    width: 28px; /* Taille uniforme des icônes */
    cursor: pointer; /* Change le curseur au survol */
  }
a{
    text-decoration: none;
    color: grey;
}

.sec-1{
    width:1440px; 
    height: 600px; 
    background-image: url("skincare\ pic2.jpg") ;
    background-repeat: repeat-x;
    background-size: contain;
    display:flex; 
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    
}
.text{
    
    color: #FFE4E1;
    text-align: left;
    margin-left: 800px;
    
}
.sec-1 button{
    margin-left: 800px;
    margin-top: 30px;
    width: 300px;
    height: 50px;
    border:solid #FFE4E1;
    background-color: transparent;
    color:#FFE4E1; 
}
.sec-1 h5{
    margin-bottom: 20px;
}
.sec-1 h1{
    margin-bottom: 10px;
}
.makesusspecials{
    margin-top:60px;
}
.explications p{
    line-height: 32px;
}
h4{
    display: flex;
    justify-content: center;
    font-family: "Dosis",sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 25.28px;
    letter-spacing: 5px;
    text-align: center;
    color:rgba(167, 170, 173, 1);
    padding-bottom: 81px;
}
.productgeneral{
    display: flex;
    margin-top:81px;
    height: 279px;
    padding-left:60px;
    padding-right: 60px;
    justify-content: space-evenly;
    gap:10px;
}
.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-radius:25px;
    width: 900px;
    height: 274px;
}
.products{
        border-radius: 50px,
}
.products img{
    width: 300px;
    height: 300px;
    border-radius: 25px;
}
.explications{
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    font-family: "Barlow",sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    color:rgba(91, 99, 109, 1);
    width: 352px;
    height: 96px;
    margin-top: 10px;
}
.nom{
    display: flex;
    justify-content: space-between;
    gap:50px;
}
.nom button{
    text-align: center;
    margin-top: 75px;
    border-radius:50px;
    background: #ffb3c6;
    width:100px;
    height: 50px;
    transition:color 0.25s;
}

.nom p{
    font-size: 24px;
    font-weight: 600;
    line-height: 25px;
    color: #ff70a6;

}
em{
    margin-top: 80px;
}

footer {
    background-color: pink;
    width: 1440px;
    height: 350px;
    padding: inherit;
    
    justify-content: space-between;
}

footer h3{
     font-family: 'Dosis';
    font-weight: 800;
    font-size: 32px;
    line-height: 40.45px;
    letter-spacing: 8px;
    color: whitesmoke; 
    padding-left: 638px;
    padding-right: 638px;
     padding-top: 59px;
}

footer nav {
 display: flex;
    gap: 57px;
    padding-left: 572px;
    padding-right: 571px;
    padding-top: 45px;
    
    font-family: cursive;
font-size: 18px;
font-weight: 600;
line-height: 25px;
letter-spacing: -0.13px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
nav a{
    color:#275075; 
}
.reseaux {
    width: 164px;
    height: 20px;
    padding-top: 100px;
    padding-left: 637px;
    padding-right: 639px;
    
     display: flex;
    justify-content: space-between;

    

}
